name: Test

on:
  push: ~

jobs:
  test:
    name: Test setup-php speed on ubuntu-slim
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: '8.5'
